<!DOCTYPE html>
<html lang = "en" >
<head >
	<meta charset = "UTF-8" >
	<title >Document</title >

	<style type = "text/css" >
		.item {
			width: 640px;
			/* height: 452px; */
			background-color: #eee;
			margin-top: 50px;
			border-radius: 5px;
			overflow: hidden;
		}
		
		.item .cover {
			display: block;
		}
		
		.item .cover img {
			display: block;
		}
		
		.item .bottom {
			height: 35px;
			position: relative;
		}
		
		.item .bottom a {
			text-decoration: none;
			line-height: 35px;
			font-family: '微软雅黑';
			margin-left: 20px;
			color: gray;
		}
		
		.item .bottom .rightBox {
			position: absolute;
			top: 0px;
			right: 0px;
			height: 100%;
		}
		
		.item .bottom .rightBox span {
			line-height: 35px;
			margin: 0 20px;
			font-size: 15px;
			/* font-family: "微软雅黑"; */
			color: gray;
		}
		
		.item .bottom .rightBox span::before {
			margin-right: 10px;
			color: #dd5a64;
		}
		
		.getMore {
			width: 100px;
			height: 100px;
			border: none;
			background-color: skyblue;
			position: fixed;
			right: 100px;
			top: 50%;
			margin-top: -50px;
		}
	</style >

	


</head >
<body >
<input type = "button" value = "加载更多" class = 'getMore' onclick = "getData()" >
	<div class = "container" >
		<div class = "item" >
			<a href = "#" class = 'cover' ><img src = "images/vol.859.jpg" alt = "" ></a >
			<div class = "bottom" >
				<a href = "#" >vol.847 用一首歌来想象你</a >
				<div class = 'rightBox' >
					<span class = 'icon-heart' >18554</span >
					<span class = 'icon-comment' >292</span >
				</div >
			</div >
		</div >
	</div >
</body >
</html >

<script src = "../jquery.min.js" ></script >
<script src = "../template-native.js" ></script >

<script type = "text/template" id = "template" >
<% for(var i = 0 ; i< items.length ; i++){%>
	<div class = "item" >
			<a href = "#" class = 'cover' ><img src = "<%= items[i].path %> " alt = "" ></a >
			<div class = "bottom" >
				<a href = "#" ><%=items[i].name%></a >
				<div class = 'rightBox' >
					<span class = 'icon-heart' ><%=items[i].star%></span >
					<span class = 'icon-comment' ><%=items[i].message%></span >
				</div >
			</div >
		</div >
<%}%>
</script >

<script >
	function getData() {
        //ajax方法封装
        $.ajax( {
//			传参,无序也可
            url: "01.php",
            type: "POST",
            data: null,
            success: function ( data ) {
//                console.log( data );
                var jsArr = JSON.parse( data );
                var obj = {
                    //下标
                    items: jsArr
                };
                var res = template( "template", obj );
                console.log( res );
                document.querySelector(".container").innerHTML += res;
            },
            error: function () {
                console.log( "error" )
            }
        } );
		
    }
</script >